/**
Status message style - color
 */

#site-status-message{
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 20px;
}
  .status-message-info{
    background: deepskyblue;
  }

  .status-message-warning{
    background: orange;
  }

  .status-message-error{
    background: red;
  }

  .status-message-success{
    background: greenyellow;
  }

