<!-- Add you custom twig html here -->
<div id="scoring">
    Location rank is:
    {% if ranking_result == 1 %}
        <span class="stars">*</span>
    {% elseif ranking_result == 2 %}
        <span class="stars">**</span>
    {% elseif ranking_result == 3 %}
        <span class="stars">***</span>
    {% elseif ranking_result == 4 %}
        <span class="stars">****</span>
    {% elseif ranking_result == 5 %}
        <span class="stars">*****</span>
   {# {% include {{ theme_path ~ directory }}'/assets/star.svg' %}#}
    {% elseif ranking_result == 0 %}
        No equipments
    {% endif %}

</div>